// colors //
$red:           #f0515c;
$white:         #fafafa;
$teal:          #23bbbd;
$tealLight:     #2dc9cb;
$tealDark:      #1aacae;
$blue:          #2d89fa;
$grey:          #696d77;
$homeGrey:      #e5e9ed;
$greyBorder:    #d8d9dc;
$greyWatermark: #646772;
$greyblue:      #f5f6f8;
$lightGrey:     #f4f4f4;