// colors //
$dark: #1d1d1d;
$cream: #dad6cc;
$gold: #8f7c4f;
$red: #f0515c;
$white: #fafafa;
$teal: #23bbbd;
$tealLight: #2dc9cb;
$tealDark: #1aacae;
$blue: #2d89fa;
$grey: #696d77;
$homeGrey: #e5e9ed;
$greyBorder: #d8d9dc;
$greyblue: #f5f6f8;
$lightGrey: #f4f4f4;
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');
$oswald: 'Oswald',
sans-serif;
$roboto: 'Roboto Condensed', sans-serif;
@mixin device($device) {
    @if $device==smallMobile {
        @media (max-width: 369px) {
            @content;
        }
    }
    @if $device==mobile {
        @media (max-width: 667px) {
            @content;
        }
    }
    @if $device==tablet {
        @media (min-width: 668px) and (max-width: 989px) {
            @content;
        }
    }
    @if $device==tabletDown {
        @media (max-width: 990px) {
            @content;
        }
    }
    @if $device==smallDesktop {
        @media (min-width: 991px) and (max-width: 1280px) {
            @content;
        }
    }
    @if $device==mediumDesktop {
        @media (min-width: 1281px) and (max-width: 1600px) {
            @content;
        }
    }
    @if $device==ultraWideDesktop {
        @media (min-width: 1800px) {
            @content;
        }
    }
    @if $device==allDesktops {
        @media (min-width: 1025px) {
            @content;
        }
    }
}

@mixin font-smoothing($value: on) {
    @if $value==on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

.btn {
    background: transparent;
    border: 2px solid $gold;
    padding: 9px 38px;
    display: inline-block;
    border-radius: 35px;
    text-align: center;
    font-family: $oswald;
    color: $gold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 30px;
    transition: border-radius .3s ease;
    &:hover {
        border-radius: 2px;
    }
}
