@import "utils";
@import "container";
@import "form";
@import "header";
@import "ipsum";
body {
    @include font-smoothing(on);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    img {
        width: 50%;
    }
    span {
      font-size: 10px;
      color: $grey;
      font-family: $slabo;
    }
    .text {
        text-align: justify;
        font-family: $slabo;
        line-height: 1.5;
        width: 45%;
    }
    @include device(mobile) {
        flex-direction: column;
        .text,
        img {
            width: 90%;
            margin: 15px auto;
        }
    }
}
